<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About</title>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CHANOS ART icon -->
    <link rel="icon" href="img/Imagini/Doar-flori-pagina-sus.png" type="image/x-icon">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="css/style.css">
    <!-- pentru font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="css/gradient buttons .css" rel="stylesheet" type="text/css">
    <link href="css/parti componente header.css" rel="stylesheet" type="text/css">
    <link href="css/CSS trebuie LOGIN.css" rel="stylesheet" type="text/css">

</head>
<body style="font-family: 'Patrick Hand', cursive; background-image: linear-gradient(#184530 25%, #49ab6b 100%); height: -web-max-fit;background-repeat: no-repeat;background-attachment: fixed;">

<div class="nav ">
    <div style="height: 10%;">
        <div class="topnav fixed-top">
            <a href="cart">Cos de cumparaturi (<span th:text="${shoppingCartSize}"></span>)</a>
            <a th:if="${logged==true}" href="ordersHistory">Istoric de comenzi<span th:text="${history}"></span></a>
            <a th:if="${logged==true}" href="logout">Logout</a>
            <a th:if="${logged==false}" href="index.html">Login</a>
            <a href="Contact">Contact</a>
            <a href="About" class="active">Despre</a>
            <a href="dashboard" >Acasă</a>
            <form action="/search" method="post">
                <img class="mr-sm-4" src="img/Imagini/Doar-flori.png" style="padding-left: 5px; padding-top: 2px; ">
                <input type="text" placeholder="Search" aria-label="Search" style="width: 200px; border-radius: 7px;" name="cautat" th:value="${cautat}">
                <button class="btn btn-outline-white btn-sm my-0" type="submit" style="border-radius: 7px;"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>


<div style="padding-top: 56px; ">
    <div class="leftside">
        <div><p></p></div>
    </div>
    <div class="centerside">
        <div style="color: #e6d2ff;">
            <!--tabel cu doua randuri-->
            <div><h1 style="font-family: 'Dancing Script', cursive; width: auto;">Povestea Chanos Art</h1></div>
            <br>
            <div class="container">
                <div class="row">
                    <div><h3 style="font-family: 'Dancing Script', cursive; width: auto;">&nbsp;&nbsp;&nbsp;&nbsp;Gândește-te
                        la momentul când ai părăsit ultima dată orașul și ai simțit aerul rece al dimineții care îți
                        atinge pielea gâtului, soarele care își croiește drum printre frunze și luminează flori vibrante
                        ascunse de ochii lumii. Amintirile ne bucură, ne liniștesc și ne amintesc cât de frumoasă este
                        natura din jurul nostru. Cu gândul la astfel de plimbări, la priveliștea unui câmp înflorit în
                        plină zi de vară, noi înghețăm în timp o amintire. În timp ce pentru alții o păpădie este o
                        plantă trecătoare pentru noi reprezintă o experiență, o trăire. Dimineața când ne punem la gât
                        un colier, în care încă trăiește o păpădie, dincolo de timp sau loc, în noi se trezește o
                        amintire și învie natura pe care o îndrăgim. În timp ce pentru alții e doar o simplă floare sau
                        doar o bijuterie pentru noi e o amintire, o experiență și implicit o stare de fericire care ne
                        motivează o zi întreagă.</h3><br>

                    </div>

                </div>
                <div class="row">
                    <div class="">
                        <h3 style="font-family: 'Dancing Script', cursive; ">&nbsp;&nbsp;&nbsp;&nbsp;Suntem o echipă de
                            10 femei îndrăgostite de frumusețea naturii, de dorința de a trăi viața din plin și de
                            viziunea celei care a înființat Felicity Store, Georgiana Bularca. O pasiune și o dorință
                            care a prins viață în anul 2014. Credem cu tărie că femeile trebuie în primul rând să fie
                            susținute de femei și să-și recunoască mereu valoarea.</h3><br>

                        <h3 style="font-family: 'Dancing Script', cursive; ">&nbsp;&nbsp;&nbsp;&nbsp;Ne dorim ca fiecare
                            femeie să se simtă frumoasă, sigură pe ea și plină de încredere, astfel își poate exprima
                            feminitatea. De aceea bijuteriile noastre sunt special concepute pentru a face orice femeie
                            să se simtă delicată, puternică și senzuală, oricând își dorește. Vor fi atuul tău care
                            atrage privirile și atenția, în special atenția acelui cineva special. Timpul va sta în loc
                            pentru câteva secunde, de fiecare dată când pășești într-o nouă încăpere, iar tu vei fi
                            energia care dictează tonul.</h3> <br>

                        <h3 style="font-family: 'Dancing Script', cursive; ">&nbsp;&nbsp;&nbsp;&nbsp;Natura este
                            elementul central al bijuteriilor noastre, ea ne inspiră și reprezintă în esență viața.
                            Pentru noi o floare transmite bucurie prin coloritul și frumusețea ei, la fel o femeie plină
                            de viață și încrezătoare răspândește bucurie oriunde ar merge. Cu fiecare creație nouă
                            realizată de mâinile noastre conservăm în timp o bucățică de fericire și iubire. Bijuteriile
                            noastre sunt la fel de diverse precum natura care le umple de viață. Așa cum nu vei găsi
                            niciodată o floare la fel ca alta și bijuteriile sunt lucrate manual special pentru a te
                            reprezenta pe tine și unicitatea ta.</h3> <br>

                        <h3 style="font-family: 'Dancing Script', cursive; ">&nbsp;&nbsp;&nbsp;&nbsp;Ne bazăm pe
                            minimalismul produselor noastre, care le oferă eleganță, sensibilitate sau senzualitate și o
                            legătură cu tine, cu sentimentele și experiențele tale. Fiecare model este special și
                            diferit, la fel ca tine.</h3> <br>

                        <h3 style="font-family: 'Dancing Script', cursive; ">&nbsp;&nbsp;&nbsp;&nbsp;Deși ne place
                            expresia “zambetul este cel mai frumos accesoriu” suntem de părere că o bijuterie care te
                            reprezintă și exprimă starea ta de spirit te va face să strălucești oriunde și oricând. În
                            plus, bijuteria potrivită îți va aduce mereu zâmbetul pe buze.</h3> <br>

                    </div>

                </div>
                <p dir="ltr" style="text-align: center;">
						<img alt="" src="img/Imagini/Radu Simona Andreea.JPG"
                                   style="width: 330px; height: 500px;">&nbsp;
						<img alt="" src="img/Imagini/Radu Simona.JPG" style="width: 460px;"></p>
            </div>


        </div>
    </div>
    <div class="rightside"><p></p></div>

    <div class="bottomside" style="bottom: 0;">
        <h4 style="padding-left: 45%; padding-top: 20px;">© Chanos Art 2020 </h4>
    </div>

</div>

<div class="fixed-right" style="position: fixed;">

    <!--Facebook-->
    <div style=" width: 100%;"><a class="gradient-button gradient-button-1" style="float: left; width: 60px; "
                                  href="https://www.facebook.com/Chanos-Art-103467424596978/"><i
            class="fab fa-facebook-f" style="color: white"></i></a></div>

    <!--Instagram-->
    <div style=" width: 100%;"><a class="gradient-button gradient-button-2" style="float: left; width: 60px; "
                                  href="https://www.instagram.com/chanos.art/"><i
            class="fab fa-instagram" style="color: white"></i></a></div>

    <!--Youtube-->
    <div style=" width: 100%;"><a class="gradient-button gradient-button-3" style="float: left; width: 60px; "
                                  href="https://www.youtube.com/channel/UCw6aT8okk_Ks__O1ZeSKTag"><i
            class="fab fa-youtube"></i></a></div>

    <!--Etsy-->
    <div style=" width: 100%;"><a class="gradient-button gradient-button-4" style="float: left; width: 60px; "
                                  href="https://www.etsy.com/shop/ChanosArt"><i class="fab fa-etsy"></i></a></div>

</div>

</body>
</html>