<!DOCTYPE html>
<html lang="en" style="height: auto;">
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CHANOS ART icon -->
    <link rel="icon" href="../../img/Imagini/Doar-flori-pagina-sus.png" type="image/x-icon">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- pentru font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/css/gradient buttons .css" rel="stylesheet" type="text/css">
    <link href="/css/parti componente header.css" rel="stylesheet" type="text/css">
    <link href="../css/magic.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/CSS trebuie LOGIN.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .magictime {
            animation-duration: 2s;
        }

    </style>

    <script>
        function deleteProduct(productId) {
            //1. apelam server-ul
            $.post("http://localhost:8080/admin/remove-product?id=" + productId);

            //2. trebuie sa stergem produsul din interfata = DOM numai daca pasul 1 a fost ok
            $("#" + productId).parent().parent().remove();
            $("#result-message").html("Produsul a fost sters cu succes in baza de date!");
            $("#result-message").removeClass("magictime swashOut");
            $("#result-message").show();
            setTimeout(deleteResultMessage, 2000);
        }


        function deleteResultMessage() {
            $("#result-message").addClass("magictime swashOut");
        }

        function toggleFormAdd() {
            $("#form-add").toggle();
        }


        function sendSaveProductRequest() {
            var nameProduct = $("#nameProduct").val();
            var priceProduct = $("#priceProduct").val();
            var materialsProduct = $("#materialsProduct").val();
            var dimensionsProduct = $("#dimensionsProduct").val();
            var colorProduct = $("#colorProduct").val();
            var descriptionProduct = $("#descriptionProduct").val();
            var photo1Product = $("#photo1Product").val();
            var photo2Product = $("#photo2Product").val();
            var photo3Product = $("#photo3Product").val();


            var url = "http://localhost:8080/admin/save-product?name=" + nameProduct +
                "&price=" + priceProduct +
                "&materials=" + materialsProduct +
                "&dimensions=" + dimensionsProduct +
                "&color=" + colorProduct +
                "&description=" + descriptionProduct +
                "&photo1=" + photo1Product +
                "&photo2=" + photo2Product +
                "&photo3=" + photo3Product;

            //Folosesc AJAX ca sa comunic cu serverul
            //functia post este asincrona
            $.post(url, function (data) {
                $("#result-message").html(data);
                $("#result-message").removeClass("magictime swashOut");
                $("#result-message").show();
                setTimeout(deleteResultMessage, 2000);
                $("#form-add").toggle();
            });
        }

    </script>
</head>
<body style="font-family: 'Patrick Hand', cursive;  background-image: linear-gradient(#87658b 25%, #49ab6b 100%); background-repeat: no-repeat;background-attachment: fixed;">


<div class="nav ">
    <div style="height: 10%;">
        <div class="topnav fixed-top">

            <!--            <a href="/dashboard">Acasă</a>-->
            <img class="mr-sm-4" src="/img/Imagini/Doar-flori.png" style="padding-left: 5px; padding-top: 2px; ">
            <button type="button" class="btn" style="color: #9ccc65;" onclick="toggleFormAdd();">Adauga produs</button>
            <a href="logout">Logout</a>
            <a href="/admin/products">Toate produsele</a>
            <form action="/search-admin" method="post" style="float: right; margin-top: 15px;">
                <input type="text" placeholder="Search" aria-label="Search" style="width: 200px; border-radius: 7px;"
                       name="cautat" th:value="${cautat}">
                <button class="btn btn-outline-white btn-sm my-0" type="submit" style="border-radius: 7px;"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div style="padding-top: 56px; ">

    <div style="width: 100% !important;">
        <div class="shop-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
            <h1 class="display-4">Administrare produse</h1>
        </div>
        <div><h1 style="color : #80002f;text-align-last: center;" th:text="${noResult}"></h1></div>
        <div class="container" style="max-width: 960px;">

            <div class="alert alert-success" role="alert" id="result-message" style="display: none">
            </div>

            <!--<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: none" id="result-message">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Bootstrap</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" >
                    Hello, world! This is a toast message.
                </div>
            </div>-->

            <form id="form-add" style="display: none">
                <div class="form-group">
                    <label for="nameProduct">Nume</label>
                    <input type="text" class="form-control" id="nameProduct">
                </div>
                <div style="width: 48%; float: left;">
                    <div class="form-group">
                        <label for="priceProduct">Pret</label>
                        <input type="number" class="form-control" id="priceProduct">
                    </div>

                    <div class="form-group">
                        <label for="materialsProduct">Materiale</label>
                        <input type="text" class="form-control" id="materialsProduct">
                    </div>

                    <div class="form-group">
                        <label for="dimensionsProduct">Dimensiuni</label>
                        <input type="text" class="form-control" id="dimensionsProduct">
                    </div>

                    <div class="form-group">
                        <label for="colorProduct">Culoare</label>
                        <input type="text" class="form-control" id="colorProduct">
                    </div>
                </div>
                <div style="width: 4%; float: left;"><p></p></div>
                <div style="width: 48%; float: left;">
                    <div class="form-group">
                        <label for="descriptionProduct">Descriere</label>
                        <input type="text" class="form-control" id="descriptionProduct">
                    </div>

                    <div class="form-group">
                        <label for="photo1Product">Poza 1</label>
                        <input type="text" class="form-control" id="photo1Product">
                    </div>

                    <div class="form-group">
                        <label for="photo2Product">Poza 2</label>
                        <input type="text" class="form-control" id="photo2Product">
                    </div>

                    <div class="form-group">
                        <label for="photo3Product">Poza 3</label>
                        <input type="text" class="form-control" id="photo3Product">
                    </div>
                </div>
                <button type="button" class="btn " onclick="sendSaveProductRequest();">Salveaza</button>
            </form>
            <br>
            <table class="table">
                <thead>
                <tr style="background-color: #184530; color: #9ccc65; ">
                    <th scope="col">Id</th>
                    <th scope="col">Nume</th>
                    <th scope="col">Pret</th>
                    <th scope="col">Dimensiuni</th>
                    <th scope="col">Descriere</th>
                    <th scope="col">Nume fisier poza 1</th>
                    <th scope="col">Nume fisier poza 2</th>
                    <th scope="col">Nume fisier poza 3</th>
                    <th scope="col">Detalii</th>
                    <th scope="col">Editare</th>
                    <th scope="col">Stergere</th>

                </tr>
                </thead>
                <tbody>

                <tr style="background-color:#5d1839; color: #4ed0a5;" th:each="p : ${products}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.dimensions}"></td>
                    <td th:text="${#strings.abbreviate(p.description,75)}"></td>
                    <td th:text="${p.photo1}"></td>
                    <td th:text="${p.photo2}"></td>
                    <td th:text="${p.photo3}"></td>
                    <td>
                        <form action="/admin/details">
                            <input name="id" th:value="${p.id}" hidden>
                            <button type="submit" class="btn btn-outline-primary" id="detailsButton">Detalii
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/edit" method="get">
                            <input name="id" th:value="${p.id}" hidden>
                            <button type="submit" class="btn btn-outline-warning">
                                <!--th:id="${p.id}"  onclick="sendEditProductRequest();"-->Editare
                            </button>
                        </form>
                    </td>
                    <td>
                        <button type="submit" th:id="${p.id}" onclick="deleteProduct(this.id);"
                                class="btn btn btn-danger"
                                style="width: fit-content;">
                            Stergere
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" th:href="${prevPage}">Previous</a></li>
                    <li class="page-item"><a class="page-link" th:href="${nextPage}">Next</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="bottomside">
        <h4 style="padding-left: 45%; padding-top: 20px;">© Chanos Art 2020 </h4>
    </div>
</div>

</body>
</html>